<!DOCTYPE html>
<html>
<head>
    <title>Gestión Catequistas</title>
</head>
<body>
<nav>
    <a href="{{ url_for('index') }}">Inicio</a> |
    <a href="{{ url_for('listar_catequizandos') }}">Listar Catequizandos</a> |
    <a href="{{ url_for('buscar_catequizandos') }}">Buscar Catequizandos</a> |
    <a href="{{ url_for('crear_catequizando') }}">Registrar Catequizando</a> |
    <a href="{{ url_for('editar_catequizando', id=1) }}">Editar Catequizando</a> |
    <a href="{{ url_for('eliminar_catequizando', id=1) }}">Eliminar Catequizando</a>
</nav>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>
