{% extends 'layout.html' %}

{% block content %}
<h2>Editar Catequista</h2>
<form method="POST">
    <input type="hidden" name="id" value="{{ catequista[0] }}">
    <label>Nombre:</label><input type="text" name="nombre" value="{{ catequista[1] }}"><br>
    <label>Apellido:</label><input type="text" name="apellido" value="{{ catequista[2] }}"><br>
    <label>Cédula:</label><input type="text" name="cedula" value="{{ catequista[3] }}"><br>
    <input type="date" name="fecha_nacimiento" value="{{ fecha_nacimiento }}">
    <label>Tipo:</label><input type="text" name="tipo" value="{{ catequista[5] }}"><br>
    <label>Correo:</label><input type="email" name="correo" value="{{ catequista[6] }}"><br>
    <label>ID Parroquia:</label><input type="number" name="parroquia_id" value="{{ catequista[7] }}"><br>
    <button type="submit">Actualizar</button>
</form>
{% endblock %}
